.navbar {
  opacity: 1;
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 100;
  font-size: 100px;
  margin: 0px 0px 20px 0px;
  opacity: 0;
}

.hero-paragraph {
  font-size: 24px;
  width: 33%;
  text-align: center;
  opacity: 0;
  margin: 0;
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
