.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 100;
  font-size: 100px;
  margin: 0px 0px 20px 5px;
  opacity: 0;
  // animation: transitionIn 1.5s, transitionUp 1.5s;
  // animation-fill-mode: forwards;
}

.hero-paragraph {
  font-size: 24px;
  width: 33%;
  text-align: center;
  opacity: 0;
  margin: 0;
  // animation: transitionIn 1.5s, transitionUp 1.5s;
  // animation-delay: 1.5s;
  // animation-fill-mode: forwards;
}

// @keyframes transitionIn {
//   from {
//     opacity: 0;
//     transform: rotateX(-15deg);
//   }

//   to {
//     opacity: 1;
//     transform: rotateX(0);
//   }
// }

// @keyframes transitionUp {
//   from {
//     transform: translateY(50px);
//   }

//   to {
//     transform: translateY(0px);
//   }
// }
