.content {
  overflow: hidden;
}

.header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 5vh;
  h1 {
    margin: 0;
  }
  .video-background {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 65vh;
    object-fit: fill;
    overflow: hidden;
  }
}

.view {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  a {
    text-decoration: none;
    color: rgb(87, 252, 150);
    font-size: 32px;
  }
}

.page-title {
  font-size: 150px;
  text-align: center;
  padding: 200px 0px;
  z-index: 1;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 0;
  margin-left: auto;
}

.img1 {
  margin-top: 3vh;
  margin-left: 4vw;
  height: 40vh;
  width: auto;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.img2 {
  margin-top: 14vh;
  margin-right: 4vw;
  height: 40vh;
  width: auto;
  right: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.section1 {
  margin-top: 20px;
  margin-right: 10vh;
  display: grid;
  position: relative;
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  grid-auto-columns: 1fr;
  padding-top: 5px;
  border-bottom: 1px solid #fff;
  .section-title {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
  }

  .section-body {
    font-size: 20px;
    margin-top: 5vh;
    font-weight: 500;
  }
}

.container2 {
  //   margin-left: 10vw;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: auto;
  margin-left: 0;
}

.section2 {
  margin-top: 20px;
  margin-left: 10vh;
  display: grid;
  position: relative;
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  grid-auto-columns: 1fr;
  padding-top: 5px;
  border-bottom: 1px solid #fff;
  .section-title {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
  }

  .section-body {
    font-size: 20px;
    margin-top: 5vh;
    font-weight: 500;
  }
}
