.cardContainer {
  color: white;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  margin: 0;
  .card {
    top: -100px;
    position: relative;
    width: 60vw;
    height: auto;
    border: rgb(102, 204, 204) solid 3px;
    border-radius: 25px;
  }
  .card-contents {
    margin: 100px 50px 100px 100px;
  }
  .quote {
    font-size: 24px;
    margin: 0px 0px 75px 0px;
  }

  .quote-mark {
    max-height: 150px;
    width: auto;
    position: absolute;
    z-index: -1;
    left: 0;
    right: auto;
    top: -50px;
  }

  .img {
    margin-bottom: 10px;
  }
  .card-text {
    // max-width: 80%;
    display: flex;
    // flex-direction: column;
    // justify-content: left;
  }

  .card-bottom {
    font-size: 20px;
    // justify-content: right;
    align-items: center;
    display: flex;
    .from {
      text-align: left;
      margin-left: 20px;
      p {
        margin: 0px 0px 10px 0px;
      }
      .person {
        font-size: 32px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 1500px) {
  .cardContainer {
    .card-contents {
      margin: 80px 40px 80px 80px;
    }
    .quote {
      font-size: 20px;
    }
    .card-bottom {
      .from {
        .person {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .cardContainer {
    .card-contents {
      margin: 60px 30px 60px 60px;
    }
    .quote {
      font-size: 18px;
    }
    .card-bottom {
      .from {
        .person {
          font-size: 24px;
        }
      }
    }
  }
  .img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .cardContainer {
    .card-bottom {
      .from {
        .person {
          font-size: 18px;
        }
      }
    }
  }
}
