@font-face {
  font-family: Helvetica;
  src: url("/frontend//app/assets/fonts/Helvetica.ttf");
}
@font-face {
  font-family: var(--Helvetica-Light);
  src: url("/frontend/app/assets/fonts/helvetica-light-587ebe5a59211.ttf");
}
@font-face {
  font-family: Satoshi-Regular;
  src: url("../../assets/fonts/Satoshi-Regular.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Bold;
  src: url("../../assets/fonts/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Italic;
  src: url("../../assets/fonts/Satoshi-Italic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium-Italic;
  src: url("../../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium;
  src: url("../../assets/fonts/Satoshi-Medium.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light;
  src: url("../../assets/fonts/Satoshi-Light.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: Migra-ExtraBold;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Migra-Extralight;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
.container {
  background-color: cadetblue;
  width: auto;
  height: 120vh;
  background-color: linear-gradient(44, 44, 44);
  border-radius: 20px;
  border: 1px solid grey;
  text-align: center;
}
.container p {
  opacity: 0.8;
  font-size: 24px;
}
.container h3 {
  font-family: Satoshi-Bold, sans-serif;
}

.grid {
  display: grid;
  width: 80%;
  height: 50%;
  padding: 20px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 10px;
}

.dummy {
  display: flex;
  grid-row: 1/3;
  grid-column: 1/2;
  border-radius: 20px;
}

.intro {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/5;
  border-radius: 20px;
}
.intro p {
  font-size: 24px;
  place-self: center;
  margin: 30px;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-row: 2/3;
  grid-column: 4/6;
  border-radius: 20px;
}
.dev h3 {
  font-size: 32px;
  max-height: 50%;
  margin-top: 0;
}
.dev p {
  max-height: 50%;
  margin: 0px 20px 0px 20px;
}

.ml {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 3/4;
  margin: 0 auto;
  border-radius: 20px;
}
.ml h3 {
  font-size: 30px;
  margin: 30px auto 20px;
  display: flex;
  max-height: 50%;
}
.ml p {
  max-height: 50%;
  margin: 20px;
}

.ds {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0 auto;
  border-radius: 20px;
}
.ds h3 {
  font-size: 30px;
  margin: 30px auto 20px auto;
  display: flex;
  max-height: 50%;
}
.ds p {
  max-height: 50%;
  font-size: 24px;
  margin: 20px;
  justify-self: center;
}

.face {
  display: flex;
  height: 265px;
  width: auto;
  overflow: hidden;
  grid-row: 1/2;
  grid-column: 5/6;
  border-radius: 20px;
  justify-content: center;
}
.face .face-img {
  height: 33vh;
  width: auto;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}/*# sourceMappingURL=about.module.css.map */