@font-face {
  font-family: Helvetica;
  src: url("/frontend//app/assets/fonts/Helvetica.ttf");
}
@font-face {
  font-family: var(--Helvetica-Light);
  src: url("/frontend/app/assets/fonts/helvetica-light-587ebe5a59211.ttf");
}
@font-face {
  font-family: Satoshi-Regular;
  src: url("../../assets/fonts/Satoshi-Regular.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Bold;
  src: url("../../assets/fonts/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Italic;
  src: url("../../assets/fonts/Satoshi-Italic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium-Italic;
  src: url("../../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium;
  src: url("../../assets/fonts/Satoshi-Medium.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light;
  src: url("../../assets/fonts/Satoshi-Light.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: Migra-ExtraBold;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Migra-Extralight;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
.container {
  position: relative;
  height: 300vh;
  background-color: #ffffff;
}

.sticky-mask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: url("../../assets//media/Contact-Mask.svg");
          mask-image: url("../../assets//media/Contact-Mask.svg");
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
          mask-size: 80%;
}

.sceneContainer {
  position: sticky;
  top: 0px;
  z-index: -1;
}

.contactForm {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.24);
  height: 65vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}
.contactForm h2 {
  font-size: 76px;
  color: white;
  margin-block-end: 30px;
}

.formContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}

.form {
  display: inline-block;
  width: 50vw;
}
.form input {
  font-family: Satoshi-Regular, sans-serif;
}

.question {
  font-size: 1.2rem;
}
.question p {
  color: white;
  margin: 0;
  padding: 5px;
}
.question p span {
  color: red;
}

.field {
  border: none;
  border-bottom: white 2px solid;
  background: none;
  width: 50vw;
  outline: none;
  font-size: 1.2rem;
  color: white;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 50px 0px;
}
.field input::-moz-placeholder {
  color: rgb(8, 20, 122);
}
.field input::placeholder {
  color: rgb(9, 22, 136);
}/*# sourceMappingURL=contact.module.css.map */