@use "variables";

// Mask CSS
.container {
  margin: 0 auto;
  position: relative;
  height: 300vh;
  // background: url("../../assets/media/globe_video.mp4");
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.sticky-mask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url("../../assets//media/mask2.svg");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 150%;
  z-index: 3;
}
.video-background {
  width: 100vw;
  height: auto;
  object-fit: none;
  z-index: 2;
  overflow: hidden;
}

.sceneContainer {
  // position: sticky;
  top: 0px;
  z-index: -1;
}
.contactForm {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.24);
  height: 65vh;
  width: 100vw;
  // background-color: rgb(17, 17, 17);
  // border-radius: 30px 30px 0px 0px;
  // border: 1px rgb(148, 148, 148) solid;
  justify-content: center;
  display: flex;
  h2 {
    font-size: 76px;
    // width: 50vw;
    color: white;
    margin-block-end: 30px;
  }
}

.formContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  // border: 1px solid white;
  border-radius: 20px;
  align-items: center;
}

.form {
  display: inline-block;
  width: 50vw;
  input {
    font-family: variables.$medium_font;
  }
}

.question {
  font-size: 1.2rem;
  p {
    color: white;
    margin: 0;
    padding: 5px;
    span {
      color: red;
    }
  }
}
.field {
  border: none;
  border-bottom: white 2px solid;
  background: none;
  // border-radius: 10px;
  width: 50vw;
  outline: none;
  font-size: 1.2rem;
  // background-color: rgb(39, 39, 39);
  color: white;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 50px 0px;

  input::-webkit-input-placeholder {
    color: rgb(5, 12, 78);
  }

  input::-moz-placeholder {
    color: rgb(8, 20, 122);
  }

  input::placeholder {
    color: rgb(9, 22, 136);
  }
}
.submitContainer {
  width: 50vw;
  display: flex;
  justify-content: center;
  .submit {
    cursor: pointer;
    font-family: variables.$medium-font;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 25px;
    background-color: black;
    border: white 2px solid;
    color: white;
  }
}

// .message {
//   padding-bottom: 100px;
// }
