@font-face {
  font-family: Helvetica;
  src: url("/frontend//app/assets/fonts/Helvetica.ttf");
}
@font-face {
  font-family: var(--Helvetica-Light);
  src: url("/frontend/app/assets/fonts/helvetica-light-587ebe5a59211.ttf");
}
@font-face {
  font-family: Satoshi-Regular;
  src: url("../../assets/fonts/Satoshi-Regular.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Bold;
  src: url("../../assets/fonts/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Italic;
  src: url("../../assets/fonts/Satoshi-Italic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium-Italic;
  src: url("../../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Medium;
  src: url("../../assets/fonts/Satoshi-Medium.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light;
  src: url("../../assets/fonts/Satoshi-Light.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: Migra-ExtraBold;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Migra-Extralight;
  src: url("../../assets/fonts/Migra-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: Satoshi-Light-Italic;
  src: url("../../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.night-main-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 5vh;
  height: auto;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: center;
}
.nav-links a {
  padding: 0px 60px;
  color: white;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
}

.navbar-icons {
  display: flex;
  width: 15%;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.night-mode-button {
  background-color: transparent;
  border-radius: 30px;
  padding: 18px 30px 18px 30px;
  border: 1px rgba(255, 255, 255, 0.568627451) solid;
}
.night-mode-button .night-mode-moon {
  height: 20px;
  width: auto;
  color: white;
}

.nav-button {
  padding: 18px 30px 18px 30px;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
}
.nav-button span {
  font-weight: 600;
  font-size: 18px;
  color: black;
  opacity: 1;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
  margin-right: 25px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  fill: #ffffff;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  fill: #ffffff;
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}/*# sourceMappingURL=navbar.module.css.map */