.skills {
  height: 100vh;
  width: auto;
}

.dummy-container {
  padding-top: 200px;
  margin: 0 20vw 0 20vw;
  display: flex;
  justify-content: space-between;
  .container-title {
    background: none;
    border: none;
    padding: 0;
    h1 {
      font-size: 64px;
      text-align: center;
    }
  }
}

// .skill-panel {

// }

.skill-title {
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  span {
    font-size: 60px;
  }
}

.skills-body {
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  .show {
    max-height: 100vh;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
}
