.skills {
  height: 100vh;
  width: auto;
}

.dummy-container {
  padding-top: 200px;
  .skills-title {
    background: none;
    border: none;
    padding: 0;
    h1 {
      font-size: 64px;
      text-align: center;
    }
  }
}

// .skill-panel {
//   display: flex;
//   justify-content: left;
// }

// .skill-header {
// }

// .skill-body {
// }
