// .timeline-container {

// }

.timeline-header {
  text-align: center;
  // top: 20px;
  margin-bottom: 0px;
  h1 {
    font-size: 64px;
  }
}

.timeline {
  margin: 10vw;
}
.framerContainer {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.vertical-line {
  position: sticky;
  z-index: 1;
  top: 5vh;
  left: 50%;
  width: 3px;
  height: 120.4vh;
  background-color: #00fcfc;
}

.progress-line {
  z-index: 2;
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 3px;
  height: 0px;
  background-color: #00a8f771;
}
.container {
  display: flex;
  width: 100%;
  align-items: center;
  // transform: translateY(150%);
  // flex-direction: column;
  height: 40vh;
  position: relative;
}
.text-box {
  width: 40%;
  position: relative;
  h2 {
    font-size: 36px;
    margin: 10px 0px 10px 0px;
  }
  h4 {
    opacity: 0.9;
    font-size: 28px;
    margin: 10px 0px 10px 0px;
  }
  small {
    font-size: 20px;
    opacity: 0.8;
  }
  p {
    width: 80%;
    font-size: 18px;
    opacity: 0.6;
  }
}

// .roadmap-image {
//   width: auto;
//   height: 70%;
// }

.line-container {
  position: relative;
}

.roadmap-line {
  content: "";
  position: sticky;
  top: 120px;
  left: 50%;
  width: 1vw;
  height: 75vh;
  // margin: 220px 0px 100px 0px;
  background-color: #fff;
  z-index: -1;
}

.left-side {
  left: 0;
  // grid-column: 1 / 2;
  position: relative;
}

.right-side {
  left: 65%;
  position: relative;
  // grid-column: 3 / 4;
}

.roadmap-point {
  // transform: translateY(-150%);
  z-index: -1;
  position: absolute;
  width: 2.7vw;
  height: 3px;
  background-color: #00fcfc;
  // left: 44%;
}

.left {
  position: absolute;
  left: 46.2%;
}
.right {
  position: absolute;
  left: 49.6%;
}

@media (max-width: 1300px) {
  .vertical-line {
    width: 5px;
  }
  .text-box {
    h2 {
      font-size: 32px;
    }
    h4 {
      font-size: 24px;
    }
    small {
      font-size: 18px;
    }
  }
}

@media (max-width: 900px) {
  .vertical-line {
    width: 8px;
  }
  .text-box {
    h2 {
      font-size: 28px;
    }
    h4 {
      font-size: 20px;
    }
    small {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  }
}
@media (max-width: 780px) {
  .text-box {
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 18px;
    }
    small {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 600px) {
  .timeline {
    margin: 100px 20px 100px 20px;
  }
  .vertical-line {
    width: 12px;
  }
  .text-box {
    h2 {
      font-size: 22px;
    }
    h4 {
      font-size: 16px;
    }
    small {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
  .right-side {
    left: 55%;
  }
  .left-side {
    left: 10%;
  }
}

@media (max-width: 500px) {
  .timeline {
    margin: 75px 15px 75px 15px;
  }
  .vertical-line {
    width: 12px;
  }
  .text-box {
    h2 {
      font-size: 22px;
    }
    h4 {
      font-size: 16px;
    }
    small {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}
