.timeline {
  margin: 100px;
}

// .timeline ::after {
//   content: "";
//   width: 6px;
//   height: 100%;
//   background-color: #fff;
//   z-index: -1;
// }
.container {
  display: flex;
  width: 100%;
  height: 50vh;
  position: relative;
  align-items: center;
}
.text-box {
  width: 40%;
  position: relative;
}

.roadmap-image {
  width: auto;
  height: 75%;
  position: relative;
}

.left-side {
  left: 0;
  position: absolute;
}

.right-side {
  left: 50%;
  position: relative;
}

// .left-side ::after {
//   content: "";
//   width: 6px;
//   height: 100%;
//   background-color: #fff;
//   z-index: -1;
// }
